.r1{
    border-bottom: 2px solid #f1f2f6;
}
.r1 h1{
    font-size: 48px;
    font-family: "Alice", serif;
    color: #ffffff;
}
.r2, .r3{
    margin-top: 6vh;
}
.r2 .r3, h2{
    color: white;
    text-shadow: 1px 1px 4px #ffa502;
}

.nutricionais img {
    width: 95%;
    border: 3px solid rgba(0, 0, 0, 0.459);
    &:hover{
        transform: scale(1.05);
        cursor: pointer;
        transition: linear 0.2s;
    }
}

@media screen and (max-width:576px) {
    .r1 h1{
        font-size: 40px;
    }
    .r2 .r3, h2{
        font-size: 32px;
        text-align: center;
    }
}